.task {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  background-color: var(--gray-500);
  border-radius: var(--radius-default);
}

.task + .task {
  margin-top: 1rem;
}

.task > button {
  border: 0px;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
}

.task > span {
  padding: 0 1rem;
}

.done {
  color: var(--purple-600);
}

.undone {
  color: var(--blue-500);
}